docs/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge"><title>RCM</title><link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><link rel="stylesheet" href="main.8aeec913.css"></head><body><header><div class="container"><div class="header-address"><div class="header-address__left"><p><a href="tel:+88002004501">8 (800) 200-45-01</a></p><p> <a href="tel:+88002004501">8 (800) 200-45-01</a></p><p> <a href="mailto:kpkrcm@mail.ru">kpkrcm@mail.ru</a></p></div><div class="header-address__right"><p> <a href="https://yandex.ru/maps/-/CKEDILnB" target="_blank">улица Терешковой, 6Б</a></p><p>8:00 - 16:00, Пн-Пт</p><p><select name="city"><option value="Казань">Казань</option><option selected="" value="Ульяновск">Ульяновск</option><option value="Москва">Москва</option></select></p></div></div><nav class="navbar navbar-expand-lg navbar-light"><a class="navbar-brand" href="#"><img src="logo-header.e5a1311d.png" alt="Logo"></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse" id="navbarSupportedContent"><ul class="navbar-nav ml-auto"><li class="nav-item"><a class="nav-link" href="#">Главная</a></li><li class="nav-item"><a class="nav-link" href="#">О кооперативе</a></li><li class="nav-item"><a class="nav-link" href="#">Партнерам</a></li><li class="nav-item"><a class="nav-link" href="#">Контакты</a></li><li class="nav-item active"><a class="nav-link" href="#">Услуги </a></li></ul><form class="form-inline my-2 my-lg-0"><input class="button button--gray ml-3" type="button" value="Заказать звонок"><input class="button button--gray ml-3 light-green" type="button" value="Оставить заявку"></form></div></nav></div></header><main><div class="container"><section class="about-capital"><img class="about-capital__image" src="main-picture.ebeade21.png" alt="Main picture"><h1 class="about-capital__title">Материнский (семейный) капитал</h1><div class="about-capital__text">КПК «Региональный центр микрофинансирования» предоставляет членам кооператива займы на приобретение жилья с возможностью погашения средствами материнского капитала. Преимущества получения ипотечного займа на приобретение жилья через КПК «Региональный центр микрофинансирования»:<ul class="list"><li class="list-item">возможность реализации до исполнения ребенку 3-х лет;</li><li class="list-item">минимальный комплект документов;</li><li class="list-item">минимальные сроки оформления займа на приобретение жилья;</li><li class="list-item">выгодные процентные ставки, без скрытых комиссий и доп. платежей;</li><li class="list-item">высокий уровень обслуживания.</li></ul>На 2015 год размер материнского капитала составляет 453 026 рублей. Согласно законодательству, потратить его можно на улучшение жилищных условий, получение образования ребенком, а также направить на увеличение накопительной части трудовой пенсии матери.<br>Напомним, что право на использование материнского сертификата может быть реализовано по истечении трех лет со дня рождения (усыновления) второго или последующих детей. Исключением являются случаи, когда средства материнского капитала идут на погашение основного долга и процентов по займам на приобретение жилья. Тогда заявление на использование материнского сертификата может быть подано в любое время со дня рождения (усыновления) второго или последующих детей.</div></section><section class="calc"><form class="calc-form" oninput="moneyoutput.value=money.value"><div class="calc-percent-rate"><div class="calc-percent-rate__title">Сбережения</div><div class="calc-percent-rate__number">11,25%*</div><input class="button button--gray" type="button" value="Рассчитать сбережения"></div><div class="calc-content"><div class="calc-content__title">Тариф «Cтабильный»‎</div><div class="calc-content__slider"><div class="output-area">Сумма: <output name="moneyoutput"></output><div class="percent">Процент: 82%</div></div><div class="slider-field"><label for="money"></label><input id="money" type="range" name="money" min="10000" max="35000000" step="10000"><span class="d-none"></span><div class="range-field"><p>10000</p><p>35000000</p></div></div></div><div class="slider-field"><label for="monthscount"></label><input id="monthscount" type="range" name="monthscount" min="3" max="36" step="1"><span class="d-none"></span><div class="range-field"><p>3</p><p>36</p></div></div></div><div class="calc-result"><div class="calc-result__item"><div class="calc-result__text">Сумма процентов за месяц</div><div class="calc-result__num" id="per-month">0 руб</div></div><div class="calc-result__item"><div class="calc-result__text">Сумма процентов за весь период</div><div class="calc-result__num" id="entire-period">0 руб</div></div><div class="calc-result__item"><div class="calc-result__text">Сумма к получению</div><div class="calc-result__num" id="total-amount">0 руб</div></div></div></form></section></div></main><footer><div class="footer-basic"><div class="container footer-basic__row"><div class="footer-basic__column logo"><a href="#"><img src="logo-footer.17aa6080.png" alt="Logo"></a></div><div class="footer-basic__column contacts"><h3>Контакты</h3><p> <ion-icon name="locate"></ion-icon><a href="https://yandex.ru/maps/-/CKEDILnB" target="_blank"><span>Город: </span>Ульяновск <br>улица Терешковой, 6Б</a></p><p> <ion-icon name="call"> </ion-icon>8 (800) 200-45-01</p><p> <ion-icon name="call"></ion-icon>8 (800) 200-45-01</p><p> <ion-icon name="clock"></ion-icon>8:00 - 16:00, Пн-Пт</p></div><div class="footer-basic__column"><div class="documentation"><h3>Документация</h3><p><a href="#">Политика конфиденциальности</a></p><p><a href="#">Реквизиты компании</a></p></div><div class="connection"><h3>Главный офис</h3><input class="button button--green" type="button" value="Связаться"></div></div></div></div><div class="copyright"><p>Разработано в <span>км</span></p></div></footer><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script><script src="main.70d74ec9.js"></script><script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script></body></html>

src/index.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title RCM
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap&subset=cyrillic' rel='stylesheet')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')

  body
    header
      .container
        .header-address
          .header-address__left
            p
              a(href='tel:+88002004501') 8 (800) 200-45-01
            p 
              a(href='tel:+88002004501') 8 (800) 200-45-01
            p 
              a(href='mailto:kpkrcm@mail.ru') kpkrcm@mail.ru
          .header-address__right
            p 
              a(href='https://yandex.ru/maps/-/CKEDILnB' target='_blank')
                | улица Терешковой, 6Б
            p 8:00 - 16:00, Пн-Пт
            p
              select(name='city')
                option(value='Казань') Казань
                option(selected='' value='Ульяновск') Ульяновск
                option(value='Москва') Москва
        nav.navbar.navbar-expand-lg.navbar-light
          a.navbar-brand(href='#')
            img(src='/assets/img/logo-header.png' alt='Logo')
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='#') Главная
              li.nav-item
                a.nav-link(href='#') О кооперативе
              li.nav-item
                a.nav-link(href='#') Партнерам
              li.nav-item
                a.nav-link(href='#') Контакты
              li.nav-item.active
                a.nav-link(href='#') Услуги 
            form.form-inline.my-2.my-lg-0
              input.button.button--gray.ml-3(type='button' value='Заказать звонок')
              input.button.button--gray.ml-3.light-green(type='button' value='Оставить заявку')
    main
      .container
        section.about-capital
          img.about-capital__image(src='./assets/img/main-picture.png' alt='Main picture')
          h1.about-capital__title Материнский (семейный) капитал
          .about-capital__text КПК «Региональный центр микрофинансирования» предоставляет членам кооператива займы на приобретение жилья с возможностью погашения средствами материнского капитала. Преимущества получения ипотечного займа на приобретение жилья через КПК «Региональный центр микрофинансирования»:
            ul.list
              li.list-item возможность реализации до исполнения ребенку 3-х лет;
              li.list-item минимальный комплект документов;
              li.list-item минимальные сроки оформления займа на приобретение жилья;
              li.list-item выгодные процентные ставки, без скрытых комиссий и доп. платежей;
              li.list-item высокий уровень обслуживания.
            | На 2015 год размер материнского капитала составляет 453 026 рублей. Согласно законодательству, потратить его можно на улучшение жилищных условий, получение образования ребенком, а также направить на увеличение накопительной части трудовой пенсии матери.
            br
            | Напомним, что право на использование материнского сертификата может быть реализовано по истечении трех лет со дня рождения (усыновления) второго или последующих детей. Исключением являются случаи, когда средства материнского капитала идут на погашение основного долга и процентов по займам на приобретение жилья. Тогда заявление на использование материнского сертификата может быть подано в любое время со дня рождения (усыновления) второго или последующих детей.
        section.calc
          form.calc-form(oninput='moneyoutput.value=money.value')
            .calc-percent-rate
              .calc-percent-rate__title Сбережения
              .calc-percent-rate__number 11,25%*
              input.button.button--gray(type='button' value='Рассчитать сбережения')
            .calc-content
              .calc-content__title Тариф «Cтабильный»‎
              .calc-content__slider
                .output-area
                  | Сумма: 
                  output(name='moneyoutput')
                  .percent Процент: 82%
                .slider-field
                  label(for='money')
                  input#money(type='range' name='money' min='10000' max='35000000' step='10000')
                  span.d-none
                  .range-field
                    p 10000
                    p 35000000
              .slider-field
                label(for='monthscount')
                input#monthscount(type='range' name='monthscount' min='3' max='36' step='1')
                span.d-none
                .range-field
                  p 3
                  p 36

            .calc-result
              .calc-result__item
                .calc-result__text Сумма процентов за месяц
                #per-month.calc-result__num 0 руб
              .calc-result__item
                .calc-result__text Сумма процентов за весь период
                #entire-period.calc-result__num 0 руб
              .calc-result__item
                .calc-result__text Сумма к получению
                #total-amount.calc-result__num 0 руб
    footer
      .footer-basic
        .container.footer-basic__row
          .footer-basic__column.logo
            a(href='#')
              img(src='/assets/img/logo-footer.png' alt='Logo')
          .footer-basic__column.contacts
            h3 Контакты
            p 
              ion-icon(name='locate')
              a(href='https://yandex.ru/maps/-/CKEDILnB' target='_blank')
                span Город: 
                | Ульяновск 
                br 
                | улица Терешковой, 6Б
            p 
              ion-icon(name='call') 
              | 8 (800) 200-45-01
            p 
              ion-icon(name='call')
              | 8 (800) 200-45-01
            p 
              ion-icon(name='clock')
              | 8:00 - 16:00, Пн-Пт
          .footer-basic__column
            .documentation
              h3 Документация
              p
                a(href='#') Политика конфиденциальности
              p
                a(href='#') Реквизиты компании
            .connection
              h3 Главный офис
              input.button.button--green(type='button' value='Связаться')
      .copyright
        p Разработано в 
          span км

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    script(src='./scripts/main.js')
    script(src='https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js')
